body, th, td, .p1, .p2 {
    font-family: arial 微软雅黑;
}
body {
    color: #333;
    background: #fff;
    margin: 0;
    font-size: 14px;
}
#login_tab{
    width: 400px;
    height: 300px;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 5px;
    border: solid 1px #b9b9b9;
}
#login_title{
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    font-family: 微软雅黑;
    background-color: #969696;
    border-radius: 5px 5px 0 0;
    border-bottom: solid 1px #7b7b7b;
    color: #ffffff;
    margin-bottom: 20px;
}
#login_tr{
    height:40px;
    width: 100%;
    display: block;
    margin-bottom: 5px;
}
#login_name{
    width: 35%;
    text-align: right;
    float: left;
}
#login_input{
    width: 62%;
    text-align: left;
    float: right;
}
#login_submit{
    width:100px;height:25px;
    margin-left:38%; 
    cursor: pointer;
}
#login_line{
    width: 100%; 
    border-top: solid 1px #7b7b7b;
    border-bottom: solid 1px #FFF;
    margin-bottom: 10px;
}
#login_exp{
    width: 96%;
    height:70px;
    margin-left: 2%;
    color: #7b7b7b;
    overflow: hidden;
}
#notice{
    color: #ff0000;
}